#header {
  min-height: 100px;
  min-width: 345px;
  /*border-bottom: solid black;*/
}

.header-favicon {
  height: 100px;
  width: 100px;
  float: left;
  margin: 0px 10px;
}

header {
  font-family: Verdana, arial, sans-serif;
}

span {
  font-size: 11pt;
}

a {
  font: 12pt  Monospace, sans-serif;
}

