#header {
  min-height: 100px;
  min-width: 345px;
  /*border-bottom: solid black;*/
}

.header-favicon {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

.header-text {
  display: inline-block;
  vertical-align: top;
  line-height: normal;
}

#name {
  margin: 0px 0px;
}

#subtitle {
  font-size: 12pt;
  white-space: nowrap;
}

h3 {
  font-family: Verdana, Arial, sans-serif;
}

a {
  font-family: monospace, serif;
}

