#header {
  min-height: 100px;
  min-width: 345px;
  width: 400px;
}

.header-favicon {
  height: 100px;
  width: 100px;
  float: left;
  margin: 0px 10px;
}

header {
  font-family: Verdana, arial, sans-serif;
}

span {
  font-size: 10pt;
}

.links {
  font: 12pt  Monospace, sans-serif;
}

